SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="GoogleVoice.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="GoogleVoice.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Conversations" type="tns:Conversations" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="2" name="UnreadCount" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="Conversations">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ConversationsItem" type="tns:ConversationsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversationsItem">
    <xs:attribute name="LastMessageTimeText" type="xs:string" />
    <xs:attribute name="LastMessageText" type="xs:string" />
	  <xs:attribute name="OtherParticipant" type="xs:string" />
	  <xs:attribute name="IsRead" type="xs:boolean" />
  </xs:complexType>
</xs:schema>